<div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel top">
          <div class="panel-body">
            
            
            <!--/stories-->
            <div class="row" id="div">    
              <div class="container-fluid">
                <h1 style="text-align: center; font-size:600%; font-weight: 500;">WELCOME</h1><br>
                <h5 style="text-align: center; font-size:200%; font-family:inherit; padding-bottom: 50px; color: rgb(7, 7, 63);">"When in doubt go to the library" - J. K. Rowling</h5>
              </div>
            </div>
            <hr>
            
            
          </div>
        
    </div>
  </div>
                                                  
                                                                                